@charset "UTF-8";



@media screen and (min-width: 768px) and (max-width: 992px) {
	body {
		background-image: linear-gradient(to bottom,  #5ca3ee, #fafafa, #5ca3ee);
	}	
	
	.areaprincipal {
		width: 100vw;
		height: 110vh;
		margin: auto;
		margin-top: 10px;
	}

	#areacalc, .calculator {
		width: 95%;
		height: 310px;
	}

	.legendaform {
		margin-bottom: 5px;
	}

	.areaform {
		float: left;
		width: 50%;
	}

	#resultado {
		float: right;
		width: 50%;
	}

	.guia > h2 {
		margin-bottom: 10px;
	}

	.nota {
		float: bottom;
	}

	#resultado > h2 {
		float: left;
		width: 30%;
	}

	.areatabela {
		float: right;
		width: 70%;
	}

	#reset {
		transform: translate(50%, 0%);
		margin: 0;
	}

	footer {
		margin-top: -20px;
	}

}

@media screen and (min-width: 992px) {
	body {
		background-image: linear-gradient(to bottom,  #5ca3ee, #fafafa, #5ca3ee);
	}
		
	.areaprincipal {
		width: 100vw;
		height: 80vh;
		margin: auto;
		margin-top: 10px;
	}

	#areacalc {
		width: 90%;
		height: 310px;
	}

	.calculator {
		width: 30%;
		height: 350px;
	}

	.areaform {
		float: left;
		width: 50%;
	}

	#resultado {
		float: right;
		width: 50%;
	}

	.guia > h2 {
		margin-bottom: 10px;
	}

	#notaalg {
		float: bottom;
	}

	#notacalc {
		float: bottom;
		font-size: 0.90rem;
		margin-top: 5px;
	}
	

	#resultado > h2 {
		float: left;
		width: 30%;
	}

	.areatabela {
		float: right;
		width: 70%;
	}

	#reset {
		transform: translate(50%, 0%);
		margin: 0;
	}

	footer {
		margin-top: 10px;
	}
}