@charset "UTF-8";
/*Arquivo em teste */
@media screen and (min-width: 768px) and (max-width: 992px){
.wrapper {
	width: 80%;
	padding-top: 15px;
}

.content .wrapper form {
	display: flex;
	gap: 2rem;
}

.loginarea1 {
	float: left;
	width: 50%;
	height: 100%;
}

.loginarea2 {
	float: right;
	width: 50%;
	height: 100%;
	justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

}

@media screen and (min-width: 992px) {
	.wrapper {
		width: 80%;
		height: 500px;
	}

	.content .wrapper form {
		display: flex;
		gap: 2rem;
		justify-content: center;
		align-items: center;
	}
	
	.loginarea1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		float: left;
		width: 50%;
		height: 100%;
	}
	
	.loginarea2 {
		float: right;
		width: 50%;
		height: 100%;
		justify-content: center; /* Centraliza horizontalmente */
		align-items: center; /* Centraliza verticalmente */
	}
	

}